.body{
  background-color: lavenderblush;
  padding: 16px;

font-family: "Comic Sans MS", cursive, sans-serif;
text-align: center;
}
body{
    margin:0;
    padding:0;
    background-color: #ffffff
  font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;

}
#navbar {
  overflow: hidden;
background-color:LightGray;
}

/* Navbar links */
#navbar a {
  float: left;
  padding: 14px;
  text-decoration: none;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .body {
  padding-top: 60px;
}
.h2 {
font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 20px;
  text-align: center;

}
h1 { 
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 24px; font-style: normal; 
font-variant: normal; 
font-weight: bold; 
text-align: center;

line-height: 26.4px; } 
h3 { 
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 300%; 
font-style: normal; 
text-align: center;

font-variant: normal; 
font-weight: bold; 
line-height: 15.4px; } 

.h2 { 
font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 150%; 
font-style: normal; 
font-variant: normal; 
text-align: center;

font-weight: bold; 
line-height: 15.4px; } 

p { 
font-family: "Comic Sans MS", cursive, sans-serif; 
font-size: 150%; 
font-style: normal; 
text-align: center;

font-variant: normal; 
font-weight: 400; 
line-height: 20px; } 

blockquote {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px; } 
	
pre { font-family: "Comic Sans MS", cursive, sans-serif;
 font-size: 13px;
 font-style: normal;
 font-variant: normal;
 font-weight: 400;
 line-height: 18.5714px; }
