.body{
  background-color: lavenderblush;
text-align: center;
  font-family: "Lucida Console", Courier, monospace;

}
body{
    margin:0;
    padding:0;
	text-align: center;

    background-color: #ffffff
  font-family: "Lucida Console", Courier, monospace;
	
}

.h2 {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
}
h1 { 
  font-family: "Lucida Console", Courier, monospace;
font-size: 24px; font-style: normal; 
font-variant: normal; 
font-weight: bold; 
text-align: center;
line-height: 26.4px; } 
h3 { 
  font-family: "Lucida Console", Courier, monospace;
font-size: 300%; 
font-style: normal; 
text-align: center;
font-variant: normal; 
font-weight: bold; 
line-height: 15.4px; } 

h2 { 
  font-family: "Lucida Console", Courier, monospace;
font-size: 150%; 
font-style: normal; 
text-align: center;

font-variant: normal; 
font-weight: bold; 
line-height: 15.4px; } 

p { 
  font-family: "Lucida Console", Courier, monospace;
font-size: 150%; 
font-style: normal; 
text-align: center;
font-variant: normal; 
font-weight: 400; 
line-height: 20px; } 
blockquote {  font-family: "Lucida Console", Courier, monospace; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } 
pre {  font-family: "Lucida Console", Courier, monospace;
 font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
